@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.TheBord {
  width: 99%;
}
.AnotherFont {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 412;
  font-style: normal;
}
.TheBgImage {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-position: center;
  /* border: 2px solid black ; */
  height: 750px;
  background-repeat: no-repeat;
  background-image: url("../public/image/Free\ shipping\ world\ wide.png");
}
.TheImageWidth {
  width: 400px;
}
.TheBorderBottom {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  border-radius: 1px;
}

:root {
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-dark: 0 4px 8px rgba(255, 255, 255, 0.2);
}

[data-theme="light"] .box-shadow {
  box-shadow: var(--box-shadow-light);
}

[data-theme="dark"] .box-shadow {
  box-shadow: var(--box-shadow-dark);
}

.startnowBTN {
  border-color: #415d44;
}
@media (max-width: 1240px) {
  .absolute.right-16.bottom-36 {
    display: none;
  }
  .relative {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .TheBigTxt,
  .tracking-wider,
  .FindUs {
    margin: 0 auto;
  }
  .FindUs {
    justify-content: center;
    width: 100%;
  }
}

.OurMissionImage {
  width: 100%;
  margin: 40px 0px;
}
.OurMissionImageTwo {
  width: 300px;
  margin: 20px 0px;
}
.OurMissionImageThree {
  width: 300px;
  margin: 20px 0px;
  margin-top: 10px;
}
.AboutUsWORD {
  margin: 60px 0px;
}
.TheMainTitle {
  font-size: 23px;
  font-weight: bold;
}
.DisPar {
  font-size: 20px;
}

.custom-scroll {
  height: 300px;
  overflow-y: scroll; /* Enable vertical scrolling */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e0e0e0; /* Track background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #b0b0b0; /* Thumb background */
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #909090; /* Thumb hover */
}
