.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen */
  background-color: #ffe6f0; /* Light pink background */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #ff80b5; /* Light pink */
  border-top: 8px solid #ff4081; /* Darker pink */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
